unit = .01rem
kvs = {
  p_a: position absolute,
  p_r: position relative,
  p_f: position fixed,

  d_n: display none
  d_b: display block
  d_ib: display inline-block,
  d_f: display flex,

  o_h: overflow hidden,
  o_v: overflow visible,
  o_s: overflow scroll,
  o_x: overflow srcoll-x,
  o_y: overflow scroll-y,

  t_l: text-align left,
  t_r: text-align right,
  t_c: text-align center,
  v_t: vertical-align top,
  v_m: vertical-align middle,
  v_b: vertical-align bottom,
  
  f_1: flex 1,
  f_2: flex 2,
  a_s: align-items flex-start,
  a_e: align-items flex-end, 
  a_c: align-items center, 
  j_s: justify-content flex-start,
  j_e: justify-content flex-end, 
  j_c: justify-content center, 
  j_sc: justify-content space-center,
  j_sa: justify-content space-around,

  b_1: border-width 1 * unit,
  b_2: border-width 2 * unit,
  
  round: border-radius 50%,
  none: display none,
  transparent: opacity 0,
}
