html
  font-size 100px
body
  font-size .14rem

html,body
  height 100%
  width 100%

// Simply reset all default style
*
  padding 0
  margin 0
  box-sizing border-box

  vertical-align top
  outline none
  user-select none
  color inherit
  text-decoration none
  
  line-height 1.2
  list-style none

  font-family sans-serif

